body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#root {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.app {
  margin-top: 80px;
  margin-bottom: 80px;
  padding: 0px 10px;
}

.app .burger {
  position: fixed;
  top: 0;
  z-index: 2000;
  left: 0;
  font-size: 25;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  display: flex;
  gap: 15px;
  align-items: center;
}

.burger.open {
  transform: rotate(90deg);
}

.top-profile {
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px;
  z-index: 1199;
  display: flex;
  gap: 10px;
  align-items: center;

}

.top-profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

@media (max-width: 480px) {
  .app .burger {
    position: absolute;
  }

  .top-profile {
    position: absolute;
  }
}
