.hac-btn {
  margin-top: 5px;
  padding: 8px 15px;
  border: thin;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  background-color: #054475;
  color: #ffffff;
}

.hac-btn:hover {
  background-color: #122C37;
}


